/*
    hsl(213, 92%, 85%)
    #B3D4FC    
*/

body {
    /*background-color:hsl(213, 95%, 95%);*/
    background:-ms-linear-gradient(
        white 0%, white 120px, 
        hsl(212, 88%, 90%) 118px, hsl(208, 88%, 90%) 128px, 
        hsl(217, 90%, 96%) 128px, hsl(217, 90%, 96%) 100%)
}

#homeAd {
    position: absolute; 
    top: 15px; 
    right: 15px; 
    width: 728px; 
    height: 90px;
    z-index:1000;
}

#appstatus {
    position:fixed;
    top:115px;
    left:0;
}

    #appstatus.out {
        display:none;
    }

.fragment > header {
    /*background-color:hsl(213, 92%, 90%);
    border-bottom:0.5rem hsl(213, 92%, 93%) solid;*/
}

.win-listview {
    /*background-color:hsl(213, 92%, 98%);*/
}

figure {
    margin:0;
    padding:0;

    transform-origin:left center;
    transition:all 0.3s ease-out;
    transform:rotateY(0deg);
}

    figure.loading {
        transform:rotateY(100deg);
        opacity:0;
    }

img {
    max-width:100%;
}

#contenthost {
    height: 100%;
    width: 100%;
}

section[role=main] {
    box-sizing:border-box;
}

.win-backdrop,
.win-listview :not(.win-footprint).win-container {
    background-image:none !important;
    background-color:transparent !important;
}

.fragment {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;

    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 39px;
            margin-top: 46px;
        }

        
.win-backbutton.top-bar {
    margin:3em 4em 0 2em;
}

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 25px;
            position:absolute;
            z-index:100;
            width:100%;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
        color:#555;
    }

.pagetitle {
    color:hsl(213, 70%, 70%);
    text-transform:capitalize;
}

    .pagetitle > img {
        height:80px;
    }

.none {
    display:none;
}




/* global settings flyout styles */
.settingsFlyout > .win-label {
    margin-top: 20px;
    margin-left: 20px;
}

.settingsFlyout > .win-label > span {
    margin-left: 40px;
}

.settingsFlyout section[role=main] {
    padding-left: 20px;
}
/* end global settings flyout styles */

/* start native element custom skin selectors */

/* custom scroll colors for touch only, looks better that way */
body.touch {
    -ms-scrollbar-base-color: #B3D4FC; 
}

a, a:visited {
    color:hsl(213, 92%, 85%);
    cursor:pointer;
}

    a:hover, a:active {
        color:hsl(213, 92%, 75%);
    }

/* custom back and appbar buttons */
.win-backbutton,
.win-commandring
{
    border-color:hsl(213, 92%, 85%) !important;
    color:hsl(213, 92%, 75%) !important;
}

.win-label {
    color:hsl(213, 50%, 50%);
}

/* inner appbar icon color */
.win-commandlayout.win-appbar,
.win-top.win-appbar {
    background-color:hsla(213, 92%, 93%, 0.95) !important;
    box-sizing:content-box;
}
.win-appbar.win-bottom {
    background-color:hsla(213, 100%, 100%, 0.95) !important;
}
.win-commandlayout.win-appbar {
    border-top: 3px solid hsl(213, 92%, 90%);
}
.win-appbar {
    border-bottom: 3px solid hsl(213, 92%, 90%);
    background-color:hsla(213, 92%, 93%, 0.95) !important;
}

.win-appbarclickeater {
 display:none !important ;
}

.win-commandimage {
    color:hsl(213, 92%, 75%) !important;
}

    .win-backbutton:hover {
        background-color:hsl(213, 72%, 70%) !important;
        color:hsl(213, 92%, 95%) !important;

        transition:all 0.1s ease-out;
        transform:scale3d(1.1,1.1,1.1);
    }

    .win-backbutton:active {
        border-color:hsl(213, 92%, 55%) !important;
        color:hsl(213, 92%, 95%) !important;
        
        transition:all 0.1s ease-out;
        transform:scale3d(0.9,0.9,0.9);
    }

button:active .win-commandring,
button:hover .win-commandring {
    background-color:hsl(213, 92%, 75%) !important;
}

button:active .win-commandimage,
button:hover .win-commandimage {
    color:white !important;
}

/* spinners / loaders */
progress {
    width:100%;
}

progress.win-ring {
    /* set size of spinner */
    width:60px;
    height:60px;
}

progress:indeterminate {
    color:hsl(213, 70%, 70%); 
}

.win-flipview .win-navbutton {
    background-color:hsl(213, 92%, 85%);
    border-bottom:5px solid hsl(213, 92%, 75%);
    border-radius:0 0 0.4rem 0;
    color:hsl(213, 90%, 60%);
}
    .win-flipview .win-navbutton.win-navright {
        border-radius:0 0 0 0.4rem;
    }

.win-flipview .win-navbutton:active,
.win-flipview .win-navbutton:hover {
    background-color:hsl(213, 92%, 86%);
    color:white;
}

/* star rating native component */
.win-rating .win-empty.win-star {
    color:#B3D4FC;
    opacity:0.5;
    transition:opacity 0.2s ease-in;
}

.win-rating .win-full.win-user.win-star, 
.win-rating .win-disabled.win-full.win-user.win-star,
.win-rating .win-star.win-tentative.win-full {
    opacity:1;
    color:#B3D4FC;
}
/* end star rating skinning */

/* listview styles */
.win-listview .win-container:hover {
    background-color: none; /* set opacity to 0 on rgba to remove hover effects */
    outline:none;
}

/* tickle / right click listview item select colors */
::selection,
.win-selectionborder {
    border-color:transparent !important;
}

.win-focusedoutline  {
    outline-color:hsla(213, 92%, 95%, 0) !important;
}

.win-selectioncheckmarkbackground,
.win-container:hover .win-selectioncheckmarkbackground {
    border-top-color:hsl(213, 92%, 95%) !important;
    border-right-color:hsl(213, 92%, 95%) !important;
}

.win-selectioncheckmark {
    color:white;
}
.win-selectionhint {
    color:#B3D4FC !important;
}
.win-tooltip,
.win-flyout {
    outline-color:#B3D4FC;
    border-color:#B3D4FC;
}
/* end listview styles */

/* range slider styles */
input[type=range]::-ms-fill-lower {
    background-color: #B3D4FC;
}
input[type=range]:hover::-ms-fill-lower {
    background-color: #B3D4FC;
}
input[type=range]:active::-ms-fill-lower {
    background-color: #B3D4FC;
}
input[type=range]:disabled::-ms-fill-lower {
    background-color: #B3D4FC;
}

/* end native element custom skin selectors */

@media screen and (-ms-view-state: snapped) {
    #homeAd {
        display:none;
    }
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 0;
            margin-right: 10px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 68px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }
}
