.win-semanticzoom {
    height:100%;
}

.vertical-rule {
    border-left:1px solid #aaa;
    width:1px;
    height:100%;
}

#filter_list {
    display:-ms-flexbox;
    -ms-flex-wrap:nowrap;
    margin:0;

    overflow-x:auto;
    overflow-y:hidden;
}

#filter_list > dt {
    font-size:2em;
    font-weight:lighter;
    cursor:pointer;

    display:inline-block;
    padding:1rem 2rem;
}

figure {
    background-size:cover;
    background-position:center center;
}

.hometile {
    height:600px;
    width:600px;
}

    .homelist .win-viewport {
        padding-left:120px;
        box-sizing:border-box;
    }

.win-groupheader > h1 {
    text-transform:capitalize;
}

.sezo-item {
    width:400px;
    height:400px;
}

.sezo-item > figure {
    width:400px;
    height:300px;
}

@media screen and (-ms-view-state: snapped) {
    
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    
}
