.fragment.home section[role=main] {
    
}

    .homelist.win-listview .win-item.box {
        overflow:visible;
    }

.win-semanticzoom {
    height:100%;
}

.vertical-rule {
    border-left:1px solid #aaa;
    width:1px;
    height:100%;
}

#filter_list {
    display:-ms-flexbox;
    -ms-flex-wrap:nowrap;
    margin:0;
    padding:0 1rem;
    box-sizing:border-box;

    overflow-x:auto;
    overflow-y:hidden;
}

    #filter_list > li {
        display:inline-block;
        position:relative;
        cursor:pointer;
        margin:1rem;
        width:175px;
        text-align:center;

        transition:all 0.1s ease-out;
        transform:scale(1);
    }

        #filter_list > li:active,
        #filter_list > li:hover {
            transform:scale(0.94);
        }

#filter_list h2 {
    font-size:2rem;
    font-weight:lighter;
    text-transform:capitalize;
    padding-bottom:0.5rem;
}

    #filter_list h2.cur {
        color:hsl(213, 75%, 60%);
        font-weight:normal;
        border-bottom:3px solid hsl(213, 84%, 75%);
    }

.category-image {
    display:inline-block;
    height:100px;
    width:100px;

    border-radius:50%;
    border:3px solid hsl(213, 92%, 85%);
    background-color:white;
}

    .category-image.home:after {
        content:"\E10F";
        font-family:'Segoe UI Symbol';
        font-size:4rem;
        color:hsl(213, 92%, 75%);

        position:relative;
        left:1px;
        top:5px;
    }

figure {
    background-size:cover;
    background-position:center center;
    border-radius:0.4rem;
}

.hometile {
    height:600px;
    width:600px;
}

    .new:after {
        content:"NEW";
        width:120px;
        position:absolute;
        bottom:10px;
        left:-38px;
        padding:3px;
        color:hsl(213, 80%, 60%);
        background-color:#efefef;
        text-align:center;
        box-shadow:0 0 0 3px hsl(213, 92%, 85%);
        transform:rotate(45deg);
    }

    .homelist .win-viewport {
        padding-left:120px;
        box-sizing:border-box;
    }

.homesezo .win-viewport {
    padding-top:2rem;
}

.win-groupheader > h1 {
    text-transform:capitalize;
}

.home-header h1 {
    display:inline-block;
    margin-right:1rem;
    color:hsl(213, 70%, 70%);
}

.hero-title {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:1rem 2rem;
    box-sizing:border-box;
    color:hsl(0, 0%, 98%);
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);

    transition:all 0.15s ease-out 1.5s;
}

.loading .hero-title {
    transform:translateY(-5px);
    opacity:0;
}

.item {
    -ms-perspective:500px;
}

.group-tile {
    display:-ms-inline-flexbox;
    position:relative;
    background-color:hsl(213, 92%, 85%);
    color:white;
    border-radius:0.4rem;
}

    .first.group-tile:after {
        content:" ";
        position:absolute;
        top:-0.7rem;
        left:1rem;

        width: 0; 
	    height: 0; 
	    border-left: 0.7rem solid transparent;
	    border-right: 0.7rem solid transparent;
	
	    border-bottom: 0.7rem solid hsl(213, 92%, 85%);
    }

    .group-tile .center {
        margin:auto;
    }

    .group-tile h1 {
        font-size:10rem;
        padding:0 1rem;
        box-sizing:border-box;
    }
    .group-tile h2 {
        font-size:1.3rem;
        font-weight:bold;
        text-align:center;
        width:100%;
        padding:0.5rem;
        box-sizing:border-box;
        position:absolute;
        bottom:0;
        left:0;
        background-color:hsl(213, 92%, 80%);
        border-radius:0 0 0.4rem 0.4rem;
        color:hsl(213, 75%, 60%);
        border-bottom:0.4rem solid hsl(213, 92%, 75%);
    }

.sezo-item {
    width:400px;
    
    background-color:hsl(213, 92%, 85%);
    border-bottom:0.4rem solid hsl(213, 92%, 75%);
    border-radius:0.4rem;
}

.sezo-item > figure {
    width:100%;
    height:calc(100% - 90px);
    border-radius:0;
}

    .sezo-item h1 {
        margin-top:0;
        padding:0.7rem 0 0 0;
        box-sizing:border-box;
        color:hsl(213, 80%, 60%);
        text-align:center;
        text-transform:capitalize;
        font-size:3rem;
    }

    .sezo-item h2 {
        position:absolute;
        top:1rem;
        left:1rem;
        margin:0;
        color:white;
        
        font-size:11rem;
        line-height:7rem;
        font-weight:lighter;
    }

.snap-img {
    width:100%;
    height:130px;
}

.snap-title {
    font-size:xx-large;
    text-transform:capitalize;
    margin-bottom:0.5rem;
}

@media screen and (-ms-view-state: snapped) {
    .homelist .win-container {
        padding-left:0.5rem;
        box-sizing:border-box;
    }
    .homelist .win-viewport {
        padding:0;
    }
    .top-logo {
        width:270px;
        height:auto !important;
    }
    .fragment header[role=banner] .titlearea {
        margin-top:2rem;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    figure {
        background-size:cover;
        background-position:center center;
    }
    .group-tile h1 {
        font-size:8rem;
        padding:0 1rem;
        box-sizing:border-box;
    }
}

@media (min-width:1400px) {
    .group-tile h1 {
        font-size:12rem;
        padding-top:0.5rem;
    }
    .sezo-item h2 {
        font-size:13rem;
        line-height:8rem;
    }
}

@media (min-width:1920px) {
    .group-tile h1 {
        font-size:15rem;
        padding-top:1.1rem;
    }
    .sezo-item h2 {
        font-size:16rem;
        line-height:11rem;
    }
}