<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="26480ArgyleInk.UberCuteBabyAnimals" Version="1.0.0.2" Publisher="CN=BA4B90AD-9CD5-454E-BF29-4CD6DF673F49" />
  <Properties>
    <DisplayName>Uber Cute Baby Animals</DisplayName>
    <PublisherDisplayName>Argyle Ink</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Uber Cute Baby Animals" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Uber Cute Baby Animals" ForegroundText="dark" BackgroundColor="#EEEEEE" ToastCapable="true">
        <DefaultTile ShowName="noLogos" WideLogo="images/widelogo.png" ShortName="Baby Animals" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#EEEEEE" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>