.itemslist,
.searchlist {
    height:100%;
}

.itemslist .win-viewport,
.searchlist .win-viewport {
    padding-left:120px;
    padding-top:2em;
    box-sizing:border-box;
}

#resultslength {
    font-size:0.5em;
}

@media screen and (-ms-view-state: snapped) {
    .itemslist .win-viewport,
    .searchlist .win-viewport {
        padding-left:0.9rem;
        padding-top:2em;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    
}
