#detail_flipview {
    height:100%;
    background-color:black;/*hsl(213, 92%, 85%)*/
}

.flip-container {
    overflow-y:auto;
    overflow-x:hidden;
    height:calc(100% - 0px);
    width:100%;
}

.touch .flip-container {
     overflow:scroll;
    -ms-content-zooming: zoom;
}

.flip-container > figcaption {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    padding:3rem 4rem 0 4rem;

    box-sizing:border-box;
    width:100%;
}

.image-wrapper {
    width:100%;
    border-radius:0;
    height:100%;
}

.detail-item {
    width:100%;
}

.detail-item.loading {
    
}

.flip-container h1 {
    color:white;
    text-shadow:1px 1px 0 rgba(0,0,0,0.3);
}

.flip-container .metadata {
    display:-ms-flexbox;
    background-color:hsl(213, 92%, 85%);
}

.metadata > section {
    margin:6rem auto 6rem;
    width:525px;
    height:525px;
    border-radius:50%;
    border:3px solid hsl(213, 90%, 75%);
    text-align:center;
    background-color:white;
}

    .flex-center {
        margin:auto;
    }

.flip-container h2 {
    color:hsl(213, 80%, 75%);
    font-family:'Segoe Script';
    font-size:4rem;
    margin-top:4rem;
    margin-bottom:1rem;
}

.flip-container blockquote {
    color:#555;
    font-size:x-large;
    font-weight:lighter;
    margin:0;
    padding:0 5rem;
}

@media screen and (-ms-view-state: snapped) {
    .metadata > section {
        width:100%;
        height:auto;
        margin:0;
        background-color:transparent;
        border:none;
        border-radius:0;
    }
    .flip-container > figcaption {
        position:relative;
        padding-bottom:1rem;
    }
    .flip-container blockquote {
        padding:1rem 2rem 5rem 2rem;
        font-size:large;
        text-align:left;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .flip-container {
        
    }
        .flip-container > figcaption {
            position:relative;
        }
}
