#detail_flipview {
    height:100%;
}

.flip-container {
    overflow-y:auto;
    overflow-x:hidden;
}

.flip-container > figure {
    width:100%;
}

.flip-container > figure > img {
    width:100%; 
    margin-bottom:-5px;
}

.flip-container > figcaption {
    position:absolute;
    top:5%;
    left:5%;
    z-index:2;

    box-sizing:border-box;
    width:100%;
}

.flip-container h1 {
    color:hsl(0, 0%, 99%);
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
}

.flip-container article {
    display:-ms-flexbox;
}

    .flip-container article section {
        margin:auto;
    }

.flip-container h2 {
    color:hsl(213, 92%, 85%);
    font-family:'Segoe Script';
}

.flip-container blockquote {
    color:#666;
}

@media screen and (-ms-view-state: snapped) {
    
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    
}
